/* Settings for body */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #070F2B;
}

/* Settings for header */
header {
    color: #FFFFFF;
    padding: 2px;
}

header h1 {
    margin: 0;
    padding: 10px;
    font-size: 24px;
    font-style: italic;
}

/* Settings for div class page */
.page {
    display: none;
}

.page.active {
    display: block;
}

.page.active {
    color: #FFFFFF;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40vh;
}

.page.active a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #0165c9;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.page.active a:hover {
    background-color: #27333f;
    color: #FFFFFF;
    transition: background-color 1s;
}